body {
  margin: 0;
  padding: 0;
}
.personal-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.personal-container div {
  margin-right: 35px;
}
.personal-container div label {
  margin-right: 10px;
}
.personal-container div span {
  color: red;
}
.personal-container div input {
  padding: 5px;
  border: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.personal-container div select {
  padding: 5px;
  border: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.personal-container div input[type="text"] {
  width: 25vw;
}
.personal-container div input[type="number"] {
  width: 20vw;
}
input[type="submit"] {
  position: absolute;
  bottom: 10px;
  right: 5vw;
  background-color: rgb(12, 175, 56);
  border: none;
  padding: 5px 20px 5px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.hanlde-personal-container {
  width: 90vw;
  margin: auto;
}
.hanlde-contact-container {
  width: 90vw;
  margin: auto;
}
.handle-address-container {
  width: 90vw;
  margin: auto;
}
.handle-other-container {
  width: 90vw;
  margin: auto;
}
button {
  position: absolute;
  bottom: 10px;
  right: 15vw;
  background-color: rgb(12, 175, 56);
  border: none;
  padding: 5px 20px 5px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
p {
  color: red;
}
/* --------------Details Conponent----------------------- */
thead {
  background-color: rgb(105, 244, 121);
}
thead tr th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
